{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample project</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
    <script type="text/javascipt" src='{%static "js/script.js"%}'></script>
    <!-- <script type="text/javascript">
    alert('check before exicute')
    </script>  -->
   <!-- <style type="text/css">
    h1{
        color: rgb(195, 23, 238);
    } 

    </style>-->
</head>
<body>
  <!--  <h1 style="color:aquamarine;">Good morning</h1>-->
  <h1>Good morning..</h1>
  <img src="{% static 'images/dj.png%}">
  <h2> Hello </h2>
</body>
</html>