{% extends 'base.html' %}
{% block content %}
    <table border="3">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>password</th>
            <th>Image</th>
           
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
         
        <tr>  
            <td>{{i.Username}}</td>
            <td> {{i.Email}}</td>
            <td>{{i.Password}}</td>
            <td><img src="/image/{{i.Image}}" alt="image" width="60px" ></td>
           
           
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
{% endblock %}